* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
 .error{
    color: rgb(228, 24, 24);
    font-weight: bold;
 }

  
  .contact {
    width: 370px;
    background: #343A40;
    padding: 30px;
    margin: auto;
    margin-top: 150px;
    border-radius: 20px;
    font-family: 'calibri';
    color: white;
    text-align: center;
    box-shadow: 7px 13px 37px rgb(193, 42, 42);
    position: absolute;
    left: 40%;
    top: 10%;
  }
  
  .form-register h4 {
    font-size: 22px;
    margin-bottom: 20px;
  }
  
  .controls {
    width: 100%;
    background: #343A40;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;

    font-family: 'calibri';
    font-size: 18px;
    color: white;
  }
  
  .form-register p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
  }
  
  .form-register a {
    color: white;
    text-decoration: none;
  }
  
  .form-register a:hover {
    color: white;
    text-decoration: underline;
  }
  
  .form-register .botons {
    width: 50%;
    background: #343A40;
    border-radius: 20px;
    border-color: #343A40;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
  }

.button1 {
  all: unset;
  width: 100px;
  height: 30px;
  font-size: 16px;
  background: transparent;
  border: none;
  position: relative;
  color: #f0f0f0;
  cursor: pointer;
  z-index: 1;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button1::after,
.button1::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -99999;
  transition: all .4s;
}

.button1::before {
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  background: #28282d;
  border-radius: 10px;
}

.button1::after {
  transform: translate(10px, 10px);
  width: 35px;
  height: 35px;
  background: #ffffff15;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 50px;
}

.button1:hover::before {
  transform: translate(5%, 20%);
  width: 110%;
  height: 110%;
}

.button1:hover::after {
  border-radius: 10px;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
}

.button1:active::after {
  transition: 0s;
  transform: translate(0, 5%);
}
/**/
.button2 {
    all: unset;
    width: 100px;
    height: 30px;
    font-size: 16px;
    background: transparent;
    border: none;
    position: relative;
    color: #f0f0f0;
    cursor: pointer;
    z-index: 1;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    position: absolute;
    left: 10%;
    top: 2%;
  }
.button2::after,
.button2::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -99999;
  transition: all .4s;
}

.button2::before {
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  background: #28282d;
  border-radius: 10px;
}

.button2::after {
  transform: translate(10px, 10px);
  width: 35px;
  height: 35px;
  background: #ffffff15;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 50px;
}

.button2:hover::before {
  transform: translate(5%, 20%);
  width: 110%;
  height: 110%;
}

.button2:hover::after {
  border-radius: 10px;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
}

.button2:active::after {
  transition: 0s;
  transform: translate(0, 5%);
}